* {
    max-width: 50000px;
    max-height: 50000px;
}

/* Page Background */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: black;
}

/* Flex Container */
main {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
}

/* Sidebars */
.sidebar {
    border: 2px solid red;
}

#player-stats {
    background-color: mediumseagreen;
}

#player-inventory {
    background-color: gold;
}

/* Game (Flex Container)*/
#main-game {
    border: 2px solid red;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

}

#level-container {
    border: 2px solid yellow;
    background-color: azure;

}

#dungeon-container {
    /* TEMPORARY BG TO DETECT GRAPHICAL ERRORS WITH DUNGEON */
    background-color: violet;
    border: 2px solid green;
    display: block;
}

#activity-log {
    background-color: black;
    color: chartreuse;
    border: 2px dashed azure;
    margin: 10px;
    padding: 0px 10px;
}

/* Top and Bottom Section (Static) */
nav {
    text-align: center;
    color: azure;
    border: 2px solid red;
    background-color: black;
}

footer {
    text-align: center;
    border: 2px solid red;
    background-color: black;
    color: azure;
    padding: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: azure;
}

a:visited {
    color: azure;
}

a:hover {
    color: chartreuse;
}

/* Dungeon Styling */
/* None of the following needs to be hardcoded, and probably shouldn't be... */
dungeon {
    display: block;
    width: calc(20px * 80);
    margin: 0;
    background: grey;
}

dungeon > row {
    display: block;
    height: 20px;
}

dungeon > row > tile {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: azure;
}

tile.floor {
    background: black;
}

tile.wall {
    background: grey;
}